.linha{
        display: inline-block;
        padding: 8px;
        border: 1px solid rgb(173, 133, 44);
        border-radius: 6px;
        margin-bottom: 12px;
        background-color: rgba(185, 180, 180, 0.5);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.764);
        margin-left: 12px;

}

.linha-title {
    margin: 0 0 8px 0;
    font-size: 1rem;
    color: #000;
}

.campeoes {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
    padding: 10px;
    margin: none;
}

.campeao-card {
    min-width: 140px;
    max-width: 220px;
    padding: 1em 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
}

.campeao-texto {
    font-weight: 600;
}

.campeao-dano {
    font-size: 0.9rem;
    color: #000000;
}
.linha-regiao{
    font-size: 1rem;
    color: #000;
}